
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active customActive" [routerLinkActiveOptions]="{exact:true}" aria-current="page" routerLink="home" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active customActive" routerLink="products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active customActive" routerLink="services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active customActive" routerLink="about">About-Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active customActive" routerLink="communication">Communication</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active customActive" routerLink="contact-us">Contact-Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active customActive" routerLink="lifecycle">Life-cycle hooks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active customActive" routerLink="decorators">Decorators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active customActive" routerLink="pipes">Custom Pipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active customActive" routerLink="filter-pipe">Filter Pipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active customActive" routerLink="temp-form">TD Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active customActive" routerLink="reactive-form">R Form</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>