<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 d-flex flex-column justify-content-center">
        <div class="text-center">
            <img src="../../assets/LTI-logo.svg" alt="logo" class="image-fluid" height="150px" width="150px">
        </div>

        <strong class="text-center my-2">Please Sign In</strong>
        
        <form action="">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlPassword" class="form-label">password</label>
                <input type="password" class="form-control" id="exampleFormControlPassword">    
            </div>
            <div class="mb-3 text-center">
                <input type="checkbox">&nbsp;Remember me
            </div>
            <div class="d-grid gap-2 mx-auto my-3">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
            
        </form>
    </div>

</div>
