<div class="bg-style">
    <h2>Products</h2>
    <p class="text-primary">My name is Utkarsh. Please visit my Channel regularly and subxcribe it. It is my pleasure to
      have you here. Go through my Website</p>
    <hr>
    <div class="row mb-3 mx-2">
      <div class=" card-group">

        <div class="card col-md-3">
          <img class="card-img-top" src="../../assets/laptop.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Laptop</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a routerLink="laptop" class="btn btn-primary">Know More</a>
          </div>
        </div>
        <div class="card col-md-3">
          <img class="card-img-top" src="../../assets/mobile.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mobile</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a  routerLink="mobile" class="btn btn-primary"> Know More</a>
          </div>
        </div>
        <div class="card col-md-3">
          <img class="card-img-top" src="../../assets/television.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Television</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a routerLink="television" class="btn btn-primary"> Know More</a>
          </div>
        </div>
        <div class="card col-md-3">
          <img class="card-img-top" src="../../assets/washing-machine.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Washing Machine</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a routerLink="washing-machine" class="btn btn-primary"> Know More</a>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4 border border-warning">
          <router-outlet></router-outlet>
      </div>
      <div class="row">
        <div class="col-md-6">
           <app-card1></app-card1>
        </div>
        <div class="col-md-6">
            <app-card2></app-card2>
        </div>
        <app-ngif></app-ngif>
        </div> -->
    </div>
  
  
</div>
