<div class="row">
    <div class="col-md-12 text-center">
        <h4 class="h4">Laptop</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-center d-flex flex-column justify-content-center">
        <p class="mt-3">This is HP laptop.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus officia in facilis exercitationem corrupti cumque laboriosam? Recusandae, velit itaque. Quaerat quae libero exercitationem fuga, numquam nisi ipsa praesentium nemo consequuntur?</p>
    </div>
    <div class="col-md-6 p-5">
        <img src="../../../assets/laptop.jpg" class="rounded w-100" alt="">
    </div>
</div>


