<!-- {{myName}}
<br><br>
{{5 * 3}}

<br><br>
{{"welcome " + myName}}

<br><br>

{{myName.length}}

<br><br>

{{myName.toUpperCase()}}

<br><br>

{{customeMethod()}}

<br><br>

{{stasus ? "Online" : "offline"}}

<br><br><br>

<input type="text" disabled="{{stasus}}" name="" id="" [value]="varName">
<br><br>
<input type="text" [hidden]="hidStatus" name="" id="" [value]="varName">
<br><br>
<input type="text" name="" id="" [ngClass]="classObj" [style.margin]="data">

<div class="data" [ngStyle]="myStyle">
    data
</div>



 -->
 <app-eventbind></app-eventbind>
