<div class="bg-style">
    <h2>Home</h2>
    <p>My name is Utkarsh.<br> Please viit my Channel regularly and subxcribe it. <br> It is my pleasure to have you here. <br> Go through my Website</p>

    <div class="row">
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Laptop</h5>
                <a routerLink="laptop" class="btn btn-primary"> Know More</a>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Mobile</h5>
                <a routerLink="mobile" class="btn btn-primary"> Know More</a>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Television</h5>
                <a routerLink="television" class="btn btn-primary"> Know More</a>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Washing Machine</h5>
                <a routerLink="../products/washing-machine" class="btn btn-primary"> Know More</a>
            </app-card>
        </div>
    </div>
</div>
