<div class="bg-style">
    <h2 class="text-center">ViewChild</h2>
    <br>
    <div #box>
        <p class="text-center">My name is {{userName}}</p>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <button (click)="onChangeProp()">change property</button>
            &nbsp;
            <button (click)="onCallMethod()">Call Method</button>
        </div>
        <div class="col-md-6">
            <app-comp6>
                <p #childCon>This is ng content projected</p>
            </app-comp6>
        </div>
    </div>
</div>